<link href="~/Content/Homestyle.css" rel="stylesheet" />

@{
    ViewBag.Title = "Home Page";
}


<div class="fullscreen-bg"><!--background video-->
    <video loop muted autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video">

        <source src="~/Content/Images/mountain.mp4" type="video/mp4">

    </video>
</div>

<div class="content"><!--footer description-->
    <h1>Travel Reviews </h1>
    <h4>The best fake reviews on the internet.</h4>
</div> 