@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Travel Reviews</h1>
    <p class="lead">The best fake review site on the internet</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Reviews</h2>
        <p>
          List of reviews.

        </p>
        <p><a class="btn btn-default" href="Reviews/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Site Categories</h2>
        <p>Here you will find a list of the categories we review on this site. </p>
        <p><a class="btn btn-default" href="Categories/Index">Learn more &raquo;</a></p>
    </div>

</div>