body {
    background: url('Images/road.jpeg')no-repeat center center;
    text-align: center;
}

div.thumbnail {
    background: none;
    text-align: center;
}

    div.thumbnail.review {
        margin-top: 20px;
        text-align: center;
        width: 50%;
        margin-left: 25%;
        background: rgba(255, 255, 255, 0.6);
    }

h3 {
}

p.a {
    margin-top: 20px;
    font-style: italic;
}
