body {
    background: url('Images/landscape.jpeg')no-repeat center center;
    text-align: center;
    height: 100%;
}

div.carousel-inner {
    height: 180px;
    color: black;
}

.container.review{
    margin-top: 75px;
}

.div.revinfo{
    margin-top: 50px;
}

.caption{
    margin: 20px;
}

p.new{
    margin-top: 50px;
    font-weight: bold;
    font-size: large;
}