body {
    background: url('Images/pexels-photo-698396.jpeg')no-repeat center center;
    text-align: center;
    font-weight: bold;

}

h2{
    color: black;
}

div.row{
    text-align: center;
}

.thumbnail{
    background: white;
    opacity: .7;
    margin:15px;
}